@model IEnumerable<CodeAnalysisDemo.DataAccess.ProductCategory>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<ul>
@foreach (var item in Model) { 
    <li>
        @item.Name
        @if (item.ProductSubcategories.Count() > 0)
        {
            <ul>
                @foreach(var subcat in item.ProductSubcategories) {
                    <li>@Html.ActionLink(subcat.Name, "Details", "Category", new { id = subcat.ProductSubcategoryID }, null)</li>
                }
            </ul>
        }
    </li>    
}
</ul>